$light_purple: rgba(142, 130, 211, 0.8);
$grad: linear-gradient(75deg, rgba(32, 178, 171, 0.8), $light_purple);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.main_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/mountains.jpg');
    background-size: cover;
}

.title {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: white;
    font-size: 2em;
    padding: 40px;
    position: absolute;
    top: 20%;
}

.input_container {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    padding: 30px;
}

.input {
    border: 0;
    border-radius: 5px;
    color: grey;
    padding: 10px;
    &:focus {
        border: 2px solid $light_purple;
    }
}

.submit_button {
    border: 0;
    border-radius: 5px;
    color: white;
    margin-left: 30px;
    padding: 20px;
    transition: .5s;
    background: $grad;
    &:hover {
        box-shadow: 2px 4px rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }
}

.view_container {
    background: rgba(255, 255, 255, 0.719);
    border-radius: 10px;
    height: auto;
    padding: 20px;
    width: 30vw;
}

.weather_info {
    align-items: left;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
    padding: 0 20px 0 20px;
}

.weather_item {
    border-top: 1px solid rgba(32, 178, 171, 0.205);
    padding: 17px; 
    > h3 {
        background: $grad;
        border-radius: 5px;
        color:white;
        padding: 10px;
    }
    > span {
        color: $light_purple;
        display: block;
        margin-top: 10px;
        padding: 10px;
    }
}

.new_search_button {
    background: $grad;
    border-radius: 10px;
    color: white;
    padding: 20px;
    transition: .3s;
    &:hover {
        box-shadow: 2px 2px 2px $light_purple;
        cursor: pointer;
    }
}